<!-- restablecer-contrasena.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>

<body>
    <div>
        <h1>RESTABLECER CONTRASEÑA</h1>

        <form action="/restablecer-contrasena" method="post">

            <label for="nuevaContrasena">Nueva Contraseña:</label>
            <input type="password" id="nuevaContrasena" name="nuevaContrasena" required>

            <button type="submit">Restablecer Contraseña</button>

        </form>
    </div>
</body>

</html>
